$deep-color:rgba(137, 120, 69, 0.6);
$light-color: rgba(255, 255, 255, 0.699);
$arrow-color:rgba(137, 120, 69, .9);
$shadow-color:rgba(189, 165, 93, 0.808);
$deep-shadow: 2px 2px 20px rgb(12, 12, 12);
$light-shadow: 1px 1px 10px rgb(12, 12, 12);