// ================
//  全体設定
// ================

// HTML font-size
$font-base: 62.5%;

// =================
// h1 ~ h4 font-size
// ==================

// ==  h1-base ~ h1-mb ==
$h1-base: 4rem;
$h1-pc: 3.6rem;
$h1-tab: 3.2rem;
$h1-mb: 2.8rem;

// ==  h2-base ~ h2-mb ==
$h2-base: 3.4rem;
$h2-pc: 3rem;
$h2-tab: 2.6rem;
$h2-mb: 2.2rem;

// ==  h3-base ~ h3-mb ==
$h3-base: 3rem;
$h3-pc: 2.7rem;
$h3-tab: 2.4rem;
$h3-mb: 2rem;

// ==  h4-base ~ h4-mb ==
$h4-base: 2.6rem;
$h4-pc: 2.4rem;
$h4-tab: 2.2rem;
$h4-mb: 2rem;

//  =============
//      p
//  =============
$p-base: 2rem;
$p-pc: 1.8rem;
$p-tab: 1.6rem;
$p-mb: 1.4rem;

//  =============
//      dt, dd
//  =============
// dt
$dt-base: 2.2rem;
$dt-pc: 2rem;
$dt-tab: 1.8rem;
$dt-mb: 1.6rem;

// dd
$dd-base: 2rem;
$dd-pc: 1.8rem;
$dd-tab: 1.6rem;
$dd-mb: 1.4rem;