// ================
//  全体設定
// ================

// HTML font-size
$font-base: 62.5%;

// =================
// h1 ~ h4 font-size
// ==================

// ==  h1-base ~ h1-mb ==
$h1-base: 4em;
$h1-pc: 3.6em;
$h1-tab: 3.2em;
$h1-mb: 2.8em;

// ==  h2-base ~ h2-mb ==
$h2-base: 3.4em;
$h2-pc: 3em;
$h2-tab: 2.6em;
$h2-mb: 2.2em;

// ==  h3-base ~ h3-mb ==
$h3-base: 3em;
$h3-pc: 2.7em;
$h3-tab: 2.4em;
$h3-mb: 2em;

// ==  h4-base ~ h4-mb ==
$h4-base: 2.6em;
$h4-pc: 2.4em;
$h4-tab: 2.2em;
$h4-mb: 2em;

//  =============
//      p
//  =============
$p-base: 2em;
$p-pc: 1.8em;
$p-tab: 1.6em;
$p-mb: 1.4em;

//  =============
//      dt, dd
//  =============
// dt
$dt-base: 2.2em;
$dt-pc: 2em;
$dt-tab: 1.8em;
$dt-mb: 1.6em;

// dd
$dd-base: 2em;
$dd-pc: 1.8em;
$dd-tab: 1.6em;
$dd-mb: 1.4em;