/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     import設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@import "./scss/font-size";
@import "./scss/color";
@import "./scss/responsive";
@import "./scss/layout";
@import "./scss/animation";


//TODO マジックナンバー、ハードコーディング注意
//TODO product欄にポートフォリオサイトを記載する

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
      全体設定
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: $font-base;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  line-height: 1;
  color: $light-color;
  background-color: $deep-color;
  animation-name: fade-in;
  animation-duration: 3s;
}

a {
  text-decoration: none;
  color: $light-color;
}

li {
  list-style: none;
}
/* font-size { h1, h2, h3, h4, p , dt, dd} ここから */

h1 {
  font-size: $h1-base;
  @include mq(pc) {
    font-size: $h1-pc;
  }
  @include mq(tab) {
    font-size: $h1-tab;
  }
  @include mq() {
    font-size: $h1-mb;
  }
}

h2 {
  font-size: $h2-base;
  @include mq(pc) {
    font-size: $h2-pc;
  }
  @include mq(tab) {
    font-size: $h2-tab;
  }
  @include mq() {
    font-size: $h2-mb;
  }
}

h3 {
  font-size: $h3-base;
  @include mq(pc) {
    font-size: $h3-pc;
  }
  @include mq(tab) {
    font-size: $h3-tab;
  }
  @include mq() {
    font-size: $h3-mb;
  }
}

h4 {
  font-size: $h4-base;
  @include mq(pc) {
    font-size: $h4-pc;
  }
  @include mq(tab) {
    font-size: $h4-tab;
  }
  @include mq() {
    font-size: $h4-mb;
  }
}

p {
  font-size: $p-base;
  @include mq(pc) {
    font-size: $p-pc;
  }
  @include mq(tab) {
    font-size: $p-tab;
  }
  @include mq() {
    font-size: $p-mb;
  }
}

dt {
  font-size: $dt-base;
  @include mq(pc) {
    font-size: $dt-pc;
  }
  @include mq(tab) {
    font-size: $dt-tab;
  }
  @include mq() {
    font-size: $dt-mb;
  }
}

dd {
  font-size: $dd-base;
  @include mq(pc) {
    font-size:$dd-pc;
  }
  @include mq(tab) {
    font-size:$dd-tab;
  }
  @include mq() {
    font-size:$dd-mb;
  }
}

/* 擬似要素 */
h4::before {
  content: "▼";
  margin-right: 0.4em;
}

img {
  border-radius: 1em;
  box-shadow: $deep-shadow;
}

input,
textarea {
  border-radius: 0.5em;
  border: 1px solid black;
}

.pc {
  @include mq(pc) {
    display: none;
  }
}

.tab {
  @include mq(tab) {
    display: none;
  }
}

.mb {
  @include mq() {
    display: none;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     wrapper  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.wrapper {
  width: 98%;
  @include paddingPercent(1024, 45, 0, 0, 0);
  margin: 0 auto;
  color: $deep-color;
  background-color: $light-color;
  border-radius: 1em;
  box-shadow: $deep-shadow;

  @include mq(tab) {
    width: 100%;
  }
}

.title {
  width: 94%;
  @include paddingPercent(1000, 20, 0, 20, 30);
  margin: 0 auto 5em;
  color: $light-color;
  background-color: $deep-color;
  border-radius: 1em;
  box-shadow: $light-shadow;

  @include mq(tab) {
    text-align: center;
    width: 90%;
    @include paddingPercent(768, 20, 0, 20, 0);
  }
}

.fade {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 3s;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     header  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

header {
  width: 100%;
  @include text-middle(12em, 12em);
  text-align: center;

  @include mq(tab) {
    @include text-middle(8em, 8em);
  }
}

h1 {
  &::before,
  &::after {
    content: "  -  ";
    @include mq() {
      display: none;
    }
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     Navigation  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
nav {
  margin: 0 0 5rem;
  @include marginPercent(1000, 0, 0, 50, 0);

  @include mq(tab) {
    @include marginPercent(768, 0, 0, 50, 0);
  }

  @include mq() {
    @include marginPercent(425, 0, 0, 50, 0);
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;

    @include mq() {
      align-items: center;
      flex-direction: column;
    }
  }

  li {
    border-radius: 10px;
    background: $deep-color;
    font-size: 2.4rem;
    margin: 20px;
    padding: 10px 15px;
    box-shadow: $light-shadow;

    @include mq(tab) {
      font-size: 2rem;
      padding: 7px 12px;
    }

    @include mq() {
      font-size: 1.6rem;
      width: 50%;
      padding: 7px 12px;
    }

  }
}

#top-link {
  &.hidden {
    display: none;
  }

  a {
    display: inline-block;
    color: $light-color;
    background: $arrow-color;
    font-size: 3.5rem;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 4px 4px black;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 10;

    @include mq(tab) {
      font-size: 2.8rem;
      padding: 6px 12px;
    }

    @include mq() {
      font-size: 2.2rem;
      padding: 4px 8px;
    }
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     Profile  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.profile-container {
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  /* tab から縦方向・中央寄せ*/
  @include mq(tab) {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__profile-list {
    width: 48%;

    @include mq(tab) {
      width: 80%;
      margin: 0 auto;
    }

    dl {
      display: grid;
      grid-template-columns: repeat(1, 35% 32.5% 32.5%);
      grid-template-rows: repeat(10, 1fr);
      row-gap: 3.5em;

      @include mq(tab) {
        grid-template-columns: repeat(1, 35% 35% 30%);
        justify-content: center;
      }

      @include mq() {
        min-width: 26.5em;
        row-gap: 2em;
        grid-template-columns: repeat(1, 35% 55%);
      }

      dt {
        @include mq(tab) {
          justify-self: flex-end;
        }
        &.grid4 {
          grid-row: 4 / 7;
        }
        &.grid8 {
          grid-row: 7 / 11;
        }
      }

      dd {
        @include mq(tab) {
          @include paddingPercent(614, 0, 0, 0, 80);
        }
        @include mq() {
          @include paddingPercent(350, 0, 0, 0, 20);
        }
        &.grid1,
        &.grid2,
        &.grid3,
        &.grid5,
        &.grid6,
        &.grid7 {
          grid-column: 2 / 4;
          @include mq() {
            grid-column: 2 / 3;
          }
        }
        &.grid9 {
          grid-column: 3 / 4;
          grid-row: 10 / 11;
          @include mq() {
            grid-column: 2 / 3;
          }
        }
      }
    }
  }

  &__profile-images {
    width: 45%;
    display: flex;
    flex-direction: column;
    @include mq(tab) {
      width: 55%;
    }
    &--image1>img,
    &--image2>img {
      margin-bottom: 2em;
      width: 100%;
      height: auto;
    }
    &--image1 {
      @include mq(tab) {
        margin-bottom: 3em;
      }
    }
    &--image2 {
      @include mq(tab) {
        display: none;
      }
    }
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     History  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.history-container {
  margin-bottom: 5em;

  &__history-subtitle {
    @include paddingPercent(1000, 0, 0, 10, 0);
    margin: 0 auto 3em;
    border-bottom: 1px solid $deep-color;
      h3 {
        @include paddingPercent(1000, 0, 0, 0, 20);
        @include mq(tab) {
          @include paddingPercent(700, 0, 0, 0, 40);
        }
      }
  }

  &__history-list {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto 6em;

    @include mq(tab) {
      flex-direction: column;
    }

    &--status {
      width: 30%;
      @include mq(tab) {
        width: 100%;
        height: auto;
        @include marginPercent(720, 0, 0, 300, 0);
      }

      @include mq() {
        @include marginPercent(420, 0, 0, 200, 0);
      }

      /* History-container__history-list--status の最後の纏りに対してstyle適応*/
      /* hls = History List Status の頭文字 */
      /* :last-child不採用なのは、クラス名を指定して適応させられないから*/
      &.last-hls {
        @include mq(tab) {
          @include marginPercent(720, 0, 0, 280, 0);
        }

        @include mq() {
          @include marginPercent(420, 0, 0, 180, 0);

        }
      }
    }

    dl {
      @include marginPercent(280, 0, 0, 10, 0);

      @include mq(tab) {
        @include marginPercent(750, 0, 0, 20, 0);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 12em;
      }

      dt {
        @include paddingPercent(300, 0, 0, 8, 0);
        @include marginPercent(300, 0, 0, 5, 0);
        display: inline-block;
        border-bottom: 1px solid $deep-color;

        @include mq(tab) {
          width: 95%;
          @include paddingPercent(760, 0, 0, 15, 50);
          @include marginPercent(760, 0, 0, 20, 0);
        }
      }

      dd {
        @include marginPercent(300, 0, 0, 12, 0);
        line-height: 1.5em;

        @include mq(tab) {
          @include paddingPercent(760, 0, 0, 0, 70);
          @include marginPercent(760, 0, 0, 20, 0);
        }
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 33%;

      @include mq(tab) {
        width: 95%;
        @include marginPercent(750, 0, 0, 250, 0);
      }

      /* History-container__history-list--text の最後の纏りに対してstyle適応*/
      /* hlt = History List Text の頭文字 */
      /* :last-child不採用なのは、クラス名を指定して適応させられないから*/
      &.last-hlt {
        @include mq(tab) {
          @include marginPercent(750, 0, 0, 100, 0);
        }
      }

      &-item {
        margin-bottom: 2em;
        @include marginPercent(700, 0, 0, 20, 0);

        h4 {
          @include marginPercent(300, 0, 0, 8, 0);

          @include mq(tab) {
            @include paddingPercent(760, 0, 0, 20, 30);
          }
          @include mq() {
            margin-bottom: 0.8em;
            @include marginPercent(400, 0, 0, 10, 0);
          }
        }

        p {
          line-height: 1.5em;

          @include mq(tab) {
            @include paddingPercent(760, 0, 0, 20, 70);
          }
        }
      }
    }

    &--image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 37%;

      @include mq(tab) {
        margin: 5em auto 0;
        width: 100%;
      }

      @include mq() {
        margin: 2em auto 0;
      }

      img {
        display: inline-block;
        width: 90%;
        height: auto;
        margin: 0 auto;

        @include mq(tab) {
          width: 50%;
        }
      }
    }
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     Programing  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.programing-container {
  padding: 1.2em 2em;
  @include paddingPercent(1000, 12, 20, 12, 20);
  @include marginPercent(1000, 0, 0, 50, 0);

  @include mq(tab) {
    display: flex;
    flex-direction: column;
  }

  &__programing-skill {
    margin-bottom: 5em;
    @include marginPercent(950, 0, 0, 50, 0);

    h4 {
      display: inline-block;
      margin-bottom: 1.4em;
      @include marginPercent(400, 0, 0, 14, 0);
    }

    ul {
      display: flex;
      justify-content: space-evenly;

      @include mq(tab) {
        flex-direction: column;
        align-items: center;
      }
    }

    li {
      max-width: 36.5em;
      width: 45%;
      border: 3px solid $deep-color;
      border-radius: 10px;
      @include paddingPercent(1000, 10, 10, 0, 20);

      @include mq(tab) {
        @include paddingPercent(760, 10, 10, 0, 20);
        @include marginPercent(760, 0, 0, 25, 0);
        min-width: 25em;
      }

      @include mq() {
        @include paddingPercent(425, 10, 10, 0, 20);
      }

      /* Programing-container__programing-skill > li:last-childに対してのstyle */
      &:last-child {
        max-width: 36.5em;
        @include marginPercent(1000, 0, 0, 0, 40);
        width: 45%;

        @include mq(tab) {
          margin-left: 0;
          min-width: 25em
        }
      }
    }

    dl {
      display: grid;
      grid-template-columns: 45% 40%;

      dt,
      dd {
        margin-bottom: 1.5em;
        @include marginPercent(300, 0, 0, 30, 0);
      }
    }
  }

  &__programing-text {
    @include marginPercent(1000, 0, 0, 40, 0);

    @include mq() {
      @include marginPercent(760, 0, 0, 20, 0);
    }

    &--purpose,
    &--target {
      max-width: 64.8em;
      width: 90%;
      margin: 0 auto 5em;
      @include paddingPercent(1000, 0, 20, 20, 20);
      border: 2px solid $deep-color;
      border-top: none;
      border-radius: 1.6em;

      @include mq(tab) {
        @include paddingPercent(730, 0, 20, 20, 20);
      }

      @include mq() {
        @include paddingPercent(425, 0, 20, 20, 20);
        @include marginPercent(425, 0, 0, 30, 0);
      }

      h4 {
        @include marginPercent(650, 0, 0, 15, 0);
      }

      p {
        line-height: 2.5em;

        @include mq(pc) {
          line-height: 1.6em;
        }

        @include mq() {
          line-height: 1.5em;
        }
      }
    }
  }

}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     Product  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.product-container {
  @include paddingPercent(1000, 12, 20, 12, 20);
  @include marginPercent(1000, 0, 0, 20, 0);
  display: flex;
  justify-content: space-between;

  @include mq(pc) {
    @include paddingPercent(730, 12, 20, 12, 20);
    display: block;
  }

  @include mq() {
    @include paddingPercent(425, 0, 20, 12, 20);
    margin-bottom: 0;
  }


  &__product-left {
    width: 48%;

    @include mq(pc) {
      max-width: 80em;
      width: 100%;
      margin: 0 auto 5em;
    }

    @include mq() {
      @include marginPercent(400, 0, 0, 20, 0);
    }

    h2 {
      @include marginPercent(800, 0, 0, 30, 0);
    }

    &--image {
      height: 80em;
      background: url(images/product_images/product_1.jpeg);
      background-size: cover;
      border-radius: 2em;

      @include mq(pc) {
        height: 28em;
        margin: 0 auto;
        background: url(images/product_images/product_2.jpeg) no-repeat;
        background-size: cover;
      }

      @include mq() {
        height: 15em;
      }
    }

    h3 {
      @include marginPercent(800, 40, 0, 0, 0);
      text-align: end;

      @include mq(pc) {
        @include paddingPercent(400, 10, 0, 0, 0);
        font-size: 2rem;
      }

      @include mq(tab) {
        @include paddingPercent(730, 10, 0, 0, 0);
        font-size: 1.5rem;
      }

      @include mq() {
        @include paddingPercent(400, 10, 0, 0, 0);
        font-size: 1.2rem;
      }

      a {
        color: $light-color;
        background-color: $deep-color;
        border-radius: 20px;
        @include paddingPercent(800, 20, 25, 20, 25);

        @include mq(pc) {
          @include paddingPercent(800, 15, 25, 15, 25);
        }

        &:hover {
          color: $deep-color;
          background-color: $light-color;
          cursor: pointer;
        }
      }
    }
  }


  &__product-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(pc) {
      display: block;
      width: 90%;
      margin: 0 auto;
    }

    li {
      dl {
        display: flex;
        border: 2px solid $deep-color;
        border-radius: 8px;
        @include paddingPercent(330, 14, 14, 14, 14);
        @include marginPercent(330, 0, 0, 20, 0);

        @include mq(pc) {
          @include marginPercent(860, 0, 0, 40, 0);
        }

        dt {
          @include marginPercent(500, 0, 30, 0, 0);
          line-height: 2em;

          @include mq(pc) {
          @include marginPercent(800, 0, 20, 0, 0);
        }
        }

        dd {
          width: 70%;
          line-height: 2em;

          @include mq(pc) {
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }

    &--item {
      @include mq(pc) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      li {
        max-width: 33em;
        width: 70%;
        @include mq(tab) {
          width: 100%;
        }

        @include mq() {
          max-width: none;
        }

        dl {
          dt {
            width: 55%;
            @include marginPercent(330, 0, 0, 0, 12);
          }

          dd {
            width: 45%;
            @include marginPercent(100, 0, 0, 10, 10);

            &.flex-item {
              @include marginPercent(100, 0, 0, 13, 13);
            }

            @include mq(pc) {
              line-height: 1em;
              width: auto;
              @include marginPercent(100, 0, 0, 15, 15);

            }
          }
        }
      }

      @include mq(tab) {
        flex-direction: column;
        align-items: center;

        li {
          min-width: 22.5em;
        }
      }
    }
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//        contact  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.contact {
  color: $deep-color;
  padding: 2em 0 1.5em;
  @include paddingPercent(1000, 20, 0, 15, 0);

  @include mq(tab) {
    @include paddingPercent(750, 20, 0, 15, 0);
  }

  @include mq() {
    @include paddingPercent(425, 20, 0, 15, 0);
  }

  form {
    max-width: 70%;
    background: $deep-color;
    @include paddingPercent(1000, 30, 30, 20, 30);
    margin: 5em auto 3em;
    border-radius: 1.4em;
    border: 4px solid $light-color;
    box-shadow: $deep-shadow;

    @include mq(tab) {
      @include paddingPercent(760, 30, 20, 30, 20);
      margin: 3em auto 2em;
      max-width: none;
      width: 80%;
    }

    @include mq() {
      @include paddingPercent(425, 30, 20, 30, 20);
    }
  }

  li {
    display: block;
    @include marginPercent(800, 30, 0, 30, 0);
    min-height: 3.5em;

    @include mq(tab) {
      text-align: center;
      margin: 0;
    }
  }

  &-style {
    box-sizing: border-box;
    @include paddingPercent(700, 14, 13, 14, 13);

    @include mq(tab) {
      @include paddingPercent(520, 14, 13, 14, 13);
    }

    @include mq() {
      @include paddingPercent(350, 14, 13, 14, 13);
    }
  }

  &-split {
    width: 49%;

    @include mq(tab) {
      width: 80%;
    }
  }

  &-subject {
    width: 100%;

    @include mq(tab) {
      width: 80%;
    }
  }

  input {
    @include mq(tab) {
      @include marginPercent(520, 0, 0, 20, 0);
    }
  }

  &-left {
    float: left;

    @include mq(tab) {
      float: none;
    }
  }

  &-right {
    float: right;

    @include mq(tab) {
      float: none;
    }
  }

  textarea {
    width: 100%;
    height: 10rem;

    @include mq(tab) {
      width: 80%;
      height: 9rem;
      @include marginPercent(520, 0, 0, 30, 0);
    }
  }

  input,
  textarea {
    font-size: $input-base;

    @include mq(tab) {
      font-size: $input-tab;
    }

    @include mq() {
      font-size: $input-mb;
    }
  }

  &-submit {
    display: flex;
    justify-content: left;

    @include mq(tab) {
      width: 80%;
      margin: 0 auto;
    }
  }

  input[type="submit"],
  input[type="reset"] {
    display: block;
    width: 15%;
    cursor: pointer;
    color: white;
    background-color: $deep-color;
    text-decoration: none;
    @include paddingPercent(700, 15, 18, 15, 18);
    @include marginPercent(700, 0, 40, 0, 0);

    @include mq(tab) {
      width: 25%;
      @include paddingPercent(500, 15, 20, 15, 20);
    }

    @include mq() {
      width: 30%;
      @include paddingPercent(240, 10, 15, 10, 15);
    }

    &:hover {
      opacity: .7;
    }

    &:focus {
      outline: 0
    }
  }

}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//     footer  設定
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

footer {
  @include paddingPercent(1000, 40, 0, 40, 0);
  text-align: center;
  @include marginPercent(1000, 0, 0, 24, 0);


  @include mq(tab) {
    @include paddingPercent(760, 20, 0, 20, 0);
    @include marginPercent(760, 0, 0, 20, 0);
  }

  @include mq() {
    @include paddingPercent(425, 20, 0, 20, 0);
    @include marginPercent(425, 0, 0, 20, 0);
  }

  h2 {
    margin-bottom: 1em;
    @include marginPercent(1000, 0, 0, 30, 0);

  }
}
